#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Shkapat
Comment=Shkapat arayüz uygulaması
GenericName=Shkapat
Exec=/usr/bin/shkapat --arayuz
Icon=shkapat
Terminal=false
Encoding=UTF-8
X-MultipleArgs=false
Type=Application
Categories=Utility;
Desktop-Actions=ShkapatG1;ShkapatG2;ShkapatG3;ShkapatG4;ShkapatG5;ShkapatG6;ShkapatG7;
TargetEnvironment=Unity

[ShkapatG1 Shortcut Group]
Name=Şimdi yeniden başlat
Exec=/usr/bin/shkapat --unity ybaslat

[ShkapatG2 Shortcut Group]
Name=Şimdi Kapat
Exec=/usr/bin/shkapat --unity kapat

[ShkapatG3 Shortcut Group]
Name=Şimdi Askıya al
Exec=/usr/bin/shkapat --unity askiya-al

[ShkapatG4 Shortcut Group]
Name=Girilecek saatte kapat
Exec=/usr/bin/shkapat --unity saat

[ShkapatG5 Shortcut Group]
Name=Girilecek saatte askıya al
Exec=/usr/bin/shkapat --unity askiya-al-saat

[ShkapatG6 Shortcut Group]
Name=Girilecek dakika sonra kapat
Exec=/usr/bin/shkapat --unity dakika

[ShkapatG7 Shortcut Group]
Name=Girilecek dakika sonra askıya al
Exec=/usr/bin/shkapat --unity askiya-al-dakika
