[Desktop Entry]
Version=1.0
Name=Shkapat
Comment=Shkapat arayüz uygulaması
GenericName=Shkapat
Exec=/usr/bin/shkapat --arayuz
Icon=shkapat
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Utility;
Actions=ShkapatG1;ShkapatG2;ShkapatG3;ShkapatG4;ShkapatG5;ShkapatG6;ShkapatG7;ShkapatG8;

[Desktop Action ShkapatG1]
Name=Şimdi yeniden başlat
Exec=/usr/bin/shkapat --eylem ybaslat

[Desktop Action ShkapatG2]
Name=Şimdi Kapat
Exec=/usr/bin/shkapat --eylem kapat

[Desktop Action ShkapatG3]
Name=Şimdi oturumu kapat
Exec=/usr/bin/shkapat --eylem oturum-kapat

[Desktop Action ShkapatG4]
Name=Şimdi Askıya al
Exec=/usr/bin/shkapat --eylem askiya-al

[Desktop Action ShkapatG5]
Name=Girilecek saatte kapat
Exec=/usr/bin/shkapat --eylem saat

[Desktop Action ShkapatG6]
Name=Girilecek saatte askıya al
Exec=/usr/bin/shkapat --eylem askiya-al-saat

[Desktop Action ShkapatG7]
Name=Girilecek dakika sonra kapat
Exec=/usr/bin/shkapat --eylem dakika

[Desktop Action ShkapatG8]
Name=Girilecek dakika sonra askıya al
Exec=/usr/bin/shkapat --eylem askiya-al-dakika
